/*CSS used from Bootstrap*/ 

/*
 * Globals
 */

/* Links */
.home a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.home .btn-secondary,
.home .btn-secondary:hover,
.home .btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

.home html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.home-background-image {
    background-image: url(../images/dark_greenleaf.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.home body {
  display: -ms-flexbox;
  display: flex;
  color: white;
}

.home .cover-container {
  max-width: 42em;
}


/*
 * Header
 */

 .home .cover-heading {
     color: white;
 }

 .home .leadpar {
     color: white;
 }

 .home .masthead {
  margin-bottom: 2rem;
}

.home .masthead-brand {
  margin-bottom: 0;
}

.home .nav-masthead .nav-link {
  padding: .25rem 0;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.home .nav-masthead .nav-link:hover,
.home .nav-masthead .nav-link:focus {
  border-bottom-color: black;
}

.home .nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.home .nav-masthead .active {
  color: black;
  border-bottom-color: #943e08;
}

.home #login {
    background-color: #943e08
}

.home #signup {
    background-color: #943e08
}

.home #leadbutton {
        margin: 0 auto;
        text-align: center;
}

@media (min-width: 48em) {
  .home .masthead-brand {
    float: left;
  }
  .home .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
 .home .cover {
  padding: 0 1.5rem;
  margin-top: 30px;
  margin-bottom: 50px;
}
.home .cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
 .home .mastfoot {
  color:white;
}

.home a {
    color: white !important;
    text-decoration: none !important;
}

/*forms*/

.home .form-control {
    width: 50% !important;
    margin: 0 auto !important;
}

/* CREATE PAGE */
.create-background {
  position: absolute;
  z-index: -1;
  width: 100%;
}
.create .form-group {
  text-align: center;
  width: 100%;
}
.create .btn-primary {
  color: black;
  background-color: white;
  border-color: white;
  width: 100%;
}
.create .btn-primary:hover {
  background-color: rgb(53, 105, 53);
  border-color: rgb(53, 105, 53);
}
.create .btn-primary:active {
  background-color: rgb(86, 139, 86);
  border-color: rgb(86, 139, 86);
}
/* CREATE PAGE */
/* FAQ */
.faq-background {
  position: absolute;
  z-index: -1;
  width: 100%;
  top: -220px;
}
.faq .nav-links {
  color: black;
  font-size: 20px;
}
.faq .social {
  color: white;
  font-size: 50px;
}
/* FAQ */